body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #eee;
}

.nav-toggle {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
}

.sidebar {
    background-color: #2ca0ffdd;
    position: absolute;
    height: 100%;
    width: 300px;
    box-sizing: border-box;
    transform: translate(-100%);
    transition: 0.9s all ease-in-out;
}

.sidebar h1 {
    color: white;
    padding-left: 20px;
}

.show_sidebar {
    transform: translate(0%) !important;
}

ul.links {
    margin: 0px;
    padding: 20px;
    list-style: none;
}

ul.links li a {
    color: #eee;
    font-size: 17px;
    text-transform: uppercase;
    text-decoration: none;
    margin-bottom: 25px;
    display: inline-block;
}

ul.socials-links {
    margin: 0;
    list-style: none;
    padding: 470px 20px 20px 20px;
}

ul.socials-links li {
    height: 30px;
    width: 30px;
    background: #fff;
    display: inline-block;
    border-radius: 50px;
    text-align: center;
    line-height: 30px;
    margin-right: 20px;
}

ul.socials-links li a {
    color: #2ca0ffdd;
}